<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/assets/css/styleLogin.css">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="inactive underlineHover">Sign Up </h2>
      
          <!-- Icon -->
          <div class="fadeIn first">
          </div>
      
          <!-- Login Form -->
          <form method="post" action="/" >
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="password" id="senha" class="fadeIn third" name="senha" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
        </div>
      </div>
</body>
</html>