<!doctype html>
<html lang="pt-br">
  <head>
  	<title>Pesquisar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../public/assets/css/styleMenu.css">
        
  </head>
  <body>
		
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
            <div class="p-4 pt-5">
              <h5 id="linha">.</h5>
              <h5 id="linha">.</h5> 
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/home/home" aria-expanded="false" class="">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
            </ul>
          </li>
          <li>
              <a href="/add/formAddUser">Cadastrar</a>
          </li>
          <li>
            <a href="/search/searchUser" aria-expanded="false" class="">Pesquisar</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
          </ul>
          </li>
          <li>
          <a href="/filter/filterUser">Filtrar</a>
          </li>
          <li>
            <a href="/find/findAll">Listar Todos</a>
            </li>
            <% if (user.eAdmin !=0) { %>
              <p></p>
              <li>
              <a href="/addlogin/addlogin">Cadastrar Login</a>
              </li>
              <p></p>
              <li>
              <a href="/adminLogin/findLogin">Administrar Logins</a>
              </li>
              <% } %>
        </ul>
    
    </nav>
        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">

        <h2 class="mb-4">Pesquisar Pessoa</h2>
        
    <form action="/search/searchResult" method="GET">
      

      <label>Preencha apenas UM dos campos abaixo: </label>

        <div class="form-group col-md-4">
        <label for="idusuarios">ID</label>
        <input type="text" class="form-control" id="idusuarios" name="idusuarios" >
        </div>


        <div class="form-group col-md-4">
        <label  for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" >
        </div>

        <div class="form-group col-md-4">
        <label  id= "tel" for="telefone">Telefone</label>
        <input  type="text" class="form-control" id="telefone" name="telefone" data-mask="(00) 0000-0000">
        </div>

        <div class="form-group col-md-4">
        <label id="cel" for="celular">Celular</label>
        <input type="text" class="form-control" id="celular" name="celular" data-mask="(00) 00000-0000">
        </div>

        <button type="submit" class="btn btn-primary">Pesquisar</button>

    </form>

    <script src="../public/assets/js/jquery.min.js"></script>
    <script src="../public/assets/js/popper.js"></script>
    <script src="../public/assets/js/bootstrap.min.js"></script>
    <script src="../public/assets/js/main.js"></script>
    <script src="../public/assets/js/jquery.mask.min.js"></script>
    <script src="../public/assets/js/javaS.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
  </body>
</html>