
.update-form2{
    margin-left: 5%;
    width:92%;
    
}

.updateText{
    margin-left: 5%;
}
#linha{

    color:#2a58ff;
}

.adm{
    position: relative;
	bottom:70%;
	left:40%;
    }

.up1{
    width:22%;
}