#telefone{
    width: 228px;
    margin-left: 15px;
}
#tel{
    margin-left: 15px;
}

#celular{
    width: 228px;
    margin-left: 15px;
}
#cel{
    margin-left: 15px;
}

#dtnascimento{
    width: 228px;
    margin-left: 15px;
}
#dt{
    margin-left: 15px;
}

#sexo{
    width: 228px;
    margin-left: 15px;
}
#sex{
    margin-left: 15px;
}

#estadocivil{
    width: 228px;
    margin-left: 15px;
}
#est{
    margin-left: 15px;
}

#filhos{
    width: 228px;
    margin-left: 15px;
}
#son{
    margin-left: 15px;
}

#email{
    width: 228px;
    margin-left: 15px;
}

#emaill{
    margin-left: 15px;
}

#qtFilhos{
    width: 228px;
    margin-left: 15px;
}

#qt{
    margin-left: 15px;
}

#linha{

    color:#2a58ff;
}